.parrafo{
    border: 1px solid #8db600;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color:#02253d ;
    font-size: larger;
    font-weight: 500;
}
div{
    border: 2px solid #8db600;
    color: #02253d;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 15px;

}
span ul li{
    color: #02253d;
    font-style: oblique;
    font-weight: 700;
}
#boton{
    background-color: #283e06;
    border: none;
    font-size: 30px;
    width: 500px;
    padding: 20px;
    color: #02253d;
}
.texto{
    color: #02253d;
}
.link{
    color: #283e06;

}
a:hover{
    color: #283e06;
}